version: 2.1
jobs:
  build-and-test:
    machine:
      image: ubuntu-2004:current
      dokcer_layer_caching: true
    steps:
      - checkout
      - run: make deps
      - run: make lint
      - run: make test
      - run: make docker_build
workflows:
  basic:
    jobs:
      - build-and-test 